extends layout/base.pug

block stylesheets
  link(rel="stylesheet" href="/stylesheets/index.css")

block cover
  img(src="https://admin.thesologuy.tk/images/1566190503470-travel.jpg" alt="cover image")

block javascripts
  script(src="/javascripts/image.js")