extends layout/base.pug

block cover
  img(src=image_path+"1566207328543-tags.jpg" alt="cover image")

block content
  section.tags.container.mt-5.text-white
    if(tags)
      .row#tags
        each tag in tags
          .col-sm-6.col-lg-4.mt-4
            .card
              a.text-center.text-white(href="/tag/"+tag.slug)
                .image-container
                  img(src=(tag.image!=undefined?image_path+tag.image.name:image_path+"1566207328543-tags.jpg") alt="tag cover image")
                  .image-cover
                .position-absolute.w-100.p-3(style="bottom: 0;")
                  h1.overflow-hidden(style="white-space:nowrap;")=tag.name
                  .mt-2=tag.postCount+' posts'
      .row.mt-4
        .col-sm-6.offset-sm-3.col-lg-4.offset-lg-4
          button#load-tag.btn.w-100.d-flex.align-items-center.justify-content-center.text-white.bg-dark.py-3(type="button")
            | Load more
    else
      h1 No tags

block javascripts
  script(src="/javascripts/image.js")
  // load blueimp template engine
  script(src='https://cdnjs.cloudflare.com/ajax/libs/blueimp-JavaScript-Templates/3.12.0/js/tmpl.min.js')
  script#tmpl-definition(type='text/x-tmpl').
    {% for (var i=0; i<o.length; i++) { %}
      <div class="col-sm-6 col-lg-4 mt-4">
        <div class="card">
            <a class="text-center text-white" href="/tag/{%=o[i].slug%}">
                <div class="image-container">
                  <img src="https://admin.thesologuy.info/images/{%=o[i].image?o[i].image.name:'default-tag.jpg'%}" alt="tag cover image">
                  <div class="image-cover"></div>
                </div>
                <div class="position-absolute w-100 p-3" style="bottom: 0;">
                    <h1 class="overflow-hidden" style="white-space:nowrap;">{%=o[i].name%}</h1>
                    <div class="mt-2">{%=o[i].postCount%} posts</div>
                </div>
            </a>
        </div>
      </div>
    {% } %}
  script.
    $(function() {
      let skip = 12
      $('#load-tag').click(function(event){
        $('#load-tag').text('Loading..')
        $.get( `/tag/load?skip=${skip}`, function( data ) {
          skip += data.length
          $('#tags').append(tmpl('tmpl-definition', data))
        })
        .always(function() {
          $('#load-tag').text('Load more')
        });
      })
    })
