doctype html
html(lang="en")
    include head.pug
    body
        include header.pug
        block content
        include footer.pug
        include script.pug
        block javascripts
        block modules