footer.mt-5.py-5.bg-secondary.text-white.position-relative
    a.footer-brand.position-absolute(href="/")
        img.w-auto.h-100(src="/images/logo.png" alt="logo")
    .footer.mt-5.container.d-flex.flex-column.justify-content-between.align-items-stretch
        ul.p-0.d-flex.flex-column.justify-content-between
            li.nav-item.active.dropdown
                .text-center.text-md-left Destinations
                ul.p-0.text-white
                    li.text-center.text-md-left
                        a.text-white(href="/tag/hanoi-5d60cc227957041cf95b7bd5") Hanoi
                    li.text-center.text-md-left
                        a.text-white(href="/tag/hue-5d611de97957041cf95b7be1") Hue
                    li.text-center.text-md-left
                        a.text-white(href="/tag/danang-5d611e007957041cf95b7be3") Danang
                    li.text-center.text-md-left
                        a.text-white(href="/tag/hoian-5d611df57957041cf95b7be2") Hoian
                    li.text-center.text-md-left
                        a.text-white(href="/tag/tokyo-5d4e7cb16207764d71e13cd9") Tokyo
                    li.text-center.text-md-left
                        a.text-white(href="/tag/bangkok-5d611e0f7957041cf95b7be4") Bangkok
            li.nav-item.dropdown
                .text-center.text-md-left.mt-3.mt-md-0  Travel guides
                ul.p-0.text-white
                    li.text-center.text-md-left
                        a.text-white(href="/tag/planning-5d611e347957041cf95b7be5") Planning
                    li.text-center.text-md-left
                        a.text-white(href="/tag/packing-5d611e3f7957041cf95b7be6") Finance
                    li.text-center.text-md-left
                        a.text-white(href="/tag/insurance-5d611e4b7957041cf95b7be7") Insurance
        form.form.position-relative
            input.form-control.bg-white.rounded-pill.pr-5(type="search" name="keyword" autocomplete="off" placeholder="Search" aria-label="Search")
            button.btn.position-absolute.rounded-circle(type="submit")
                i.fa.fa-search.text-secondary