header.position-relative.text-white
    nav.navbar.container.navbar-expand-md.navbar-dark
        a.navbar-brand.m-0.p-0(href="/")
            img.w-auto.h-100(src="/images/logo.png" alt="logo")
        button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
            span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse.justify-content-between
            ul.navbar-nav.justify-content-between
                li.nav-item.dropdown
                    a#destinations.nav-link.px-0(href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                        .mb-0 Destinations
                    .dropdown-menu(aria-labelledby="destinations")
                        a.dropdown-item.pl-md-0(href="/tag/hanoi-5d60cc227957041cf95b7bd5") Hanoi
                        a.dropdown-item.pl-md-0(href="/tag/hue-5d611de97957041cf95b7be1") Hue
                        a.dropdown-item.pl-md-0(href="/tag/danang-5d611e007957041cf95b7be3") Danang
                        a.dropdown-item.pl-md-0(href="/tag/hoian-5d611df57957041cf95b7be2") Hoian
                        a.dropdown-item.pl-md-0(href="/tag/tokyo-5d4e7cb16207764d71e13cd9") Tokyo
                        a.dropdown-item.pl-md-0(href="/tag/bangkok-5d611e0f7957041cf95b7be4") Bangkok
                li.nav-item.dropdown
                    a#travel-guide.nav-link.px-0(href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                        .mb-0 Travel guides
                    .dropdown-menu(aria-labelledby="travel-guide")
                        a.dropdown-item.pl-md-0(href="/tag/planning-5d611e347957041cf95b7be5") Planning
                        a.dropdown-item.pl-md-0(href="/tag/packing-5d611e3f7957041cf95b7be6") Packing
                        a.dropdown-item.pl-md-0(href="/tag/insurance-5d611e4b7957041cf95b7be7") Insurance
            form.form.position-relative.my-2.my-md-0(method="GET" action="/search")
                input.form-control.bg-white.rounded-pill.pr-5(type="search" name="keyword" autocomplete="off" placeholder="Search" aria-label="Search")
                button.btn.position-absolute.rounded-circle(type="submit")
                    i.fa.fa-search.text-secondary
    .header-text.container.display-4.text-center=title
    .bg-container
        block cover
        .bg-cover